@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap");

$grey178-07-opacity-color: rgba(178, 178, 178, 0.7);
$grey178-01-opacity-color: rgba(178, 178, 178, 0.1);

$grey158-07-opacity-color: rgba(158, 158, 158, 0.7);
$grey211-02-opacity-color: rgba(211, 211, 211, 0.2);
$grey211-07-opacity-color: rgba(211, 211, 211, 0.7);
$grey100-color: rgb(100, 100, 100);
$grey110-color: rgb(110, 110, 110);
$grey120-color: rgb(120, 120, 120);
$grey130-color: rgb(130, 130, 130);
$grey140-color: rgb(140, 140, 140);
$grey150-color: rgb(150, 150, 150);
$grey160-color: rgb(160, 160, 160);
$grey170-color: rgb(170, 170, 170);
$grey180-color: rgb(180, 180, 180);
$grey190-color: rgb(190, 190, 190);
$grey200-color: rgb(200, 200, 200);
$grey210-color: rgb(210, 210, 210);
$grey220-color: rgb(220, 220, 220);
$grey230-color: rgb(230, 230, 230);
$grey240-color: rgb(240, 240, 240);
$grey250-color: rgb(250, 250, 250);
//!
$pre-main-color: rgb(161, 84, 84);
$main-color: rgb(162, 26, 26);
$main-09-opacity-color: rgba(162, 26, 26, 0.9);
$main-08-opacity-color: rgba(162, 26, 26, 0.8);
$main-07-opacity-color: rgba(162, 26, 26, 0.7);
$main-06-opacity-color: rgba(162, 26, 26, 0.6);
$main-05-opacity-color: rgba(162, 26, 26, 0.5);
$main-04-opacity-color: rgba(162, 26, 26, 0.4);
$main-03-opacity-color: rgba(162, 26, 26, 0.3);
$main-02-opacity-color: rgba(162, 26, 26, 0.2);
$main-01-opacity-color: rgba(162, 26, 26, 0.1);
// $main-color: rgba(80, 26, 162);
// $main-color: rgb(3, 3, 3);
//!
$black-color: rgb(0, 0, 0);
$black-09-opacity-color: rgba(0, 0, 0, 0.9);
$black-08-opacity-color: rgba(0, 0, 0, 0.8);
$black-07-opacity-color: rgba(0, 0, 0, 0.7);
$black-06-opacity-color: rgba(0, 0, 0, 0.6);
$black-05-opacity-color: rgba(0, 0, 0, 0.5);
$black-04-opacity-color: rgba(0, 0, 0, 0.4);
$black-03-opacity-color: rgba(0, 0, 0, 0.3);
$black-02-opacity-color: rgba(0, 0, 0, 0.2);
$black-01-opacity-color: rgba(0, 0, 0, 0.1);
$nothing-color: rgba(0, 0, 0, 0);
//!
$aliceblue-color: aliceblue;
$white-color: white;
$white-01-opacity-color: rgba(255, 255, 255, 0.1);
$white-02-opacity-color: rgba(255, 255, 255, 0.2);
$white-03-opacity-color: rgba(255, 255, 255, 0.3);
$white-04-opacity-color: rgba(255, 255, 255, 0.4);
$white-05-opacity-color: rgba(255, 255, 255, 0.5);
$white-06-opacity-color: rgba(255, 255, 255, 0.6);
$white-07-opacity-color: rgba(255, 255, 255, 0.7);
$white-08-opacity-color: rgba(255, 255, 255, 0.8);
$white-09-opacity-color: rgba(255, 255, 255, 0.9);
//!
$x-inc: 10px;
$y-inc: 15px;
:root {
	--grey178-07-opacity-color: rgba(178, 178, 178, 0.7);
	--grey178-01-opacity-color: rgba(178, 178, 178, 0.1);
	--grey158-07-opacity-color: rgba(158, 158, 158, 0.7);
	--white-06-opacity-color: rgba(255, 255, 255, 0.6);
	--grey211-02-opacity-color: rgba(211, 211, 211, 0.2);
	--grey211-07-opacity-color: rgba(211, 211, 211, 0.7);
	--grey100-color: rgb(100, 100, 100);
	--grey110-color: rgb(110, 110, 110);
	--grey120-color: rgb(120, 120, 120);
	--grey130-color: rgb(130, 130, 130);
	--grey140-color: rgb(140, 140, 140);
	--grey150-color: rgb(150, 150, 150);
	--grey160-color: rgb(160, 160, 160);
	--grey170-color: rgb(170, 170, 170);
	--grey180-color: rgb(180, 180, 180);
	--grey190-color: rgb(190, 190, 190);
	--grey200-color: rgb(200, 200, 200);
	--grey210-color: rgb(210, 210, 210);
	--grey220-color: rgb(220, 220, 220);
	--grey230-color: rgb(230, 230, 230);
	--grey240-color: rgb(240, 240, 240);
	--grey250-color: rgb(250, 250, 250);
	--main-color: rgb(162, 26, 26);
	--main-09-opacity-color: rgba(162, 26, 26, 0.9);
	--main-08-opacity-color: rgba(162, 26, 26, 0.8);
	--main-07-opacity-color: rgba(162, 26, 26, 0.7);
	--main-06-opacity-color: rgba(162, 26, 26, 0.6);
	--main-05-opacity-color: rgba(162, 26, 26, 0.5);
	--main-04-opacity-color: rgba(162, 26, 26, 0.4);
	--main-03-opacity-color: rgba(162, 26, 26, 0.3);
	--main-02-opacity-color: rgba(162, 26, 26, 0.2);
	--main-01-opacity-color: rgba(162, 26, 26, 0.1);
	// $main-color: rgba(80, 26, 162);
	// $main-color: rgb(3, 3, 3);
	--black-color: rgb(0, 0, 0);
	--black-09-opacity-color: rgba(0, 0, 0, 0.9);
	--black-08-opacity-color: rgba(0, 0, 0, 0.8);
	--black-07-opacity-color: rgba(0, 0, 0, 0.7);
	--black-06-opacity-color: rgba(0, 0, 0, 0.6);
	--black-05-opacity-color: rgba(0, 0, 0, 0.5);
	--black-04-opacity-color: rgba(0, 0, 0, 0.4);
	--black-03-opacity-color: rgba(0, 0, 0, 0.3);
	--black-02-opacity-color: rgba(0, 0, 0, 0.2);
	--black-01-opacity-color: rgba(0, 0, 0, 0.1);
	--aliceblue-color: aliceblue;
	--white-color: white;
	--nothing-color: rgba(0, 0, 0, 0);
	--header-height: 5vmax;
	--main-frames-border-radius: 15px;
	--frame-height-full: 100vmax;
	--frame-options-height: 6vmax;
	--account-height: 30vmax;
	--frame-options-margin: 10px;
	--frame-options-bottom-height: 70px;
	--add-collection-column-height: 10vh;
}

::-webkit-scrollbar {
	width: 1.5vw;
	height: 1.5vh;
}

::-webkit-scrollbar-track {
	background-color: $grey240-color;
	&:hover {
		background-color: $grey211-07-opacity-color;
	}
	&:active {
		background-color: $grey200-color;
	}
}

::-webkit-scrollbar-thumb {
	background-color: $grey190-color;
	box-shadow: inset 0 0 6px $grey240-color;
	&:hover {
		background-color: $grey190-color;
		box-shadow: inset 0 0 3px $grey240-color;
	}
	&:active {
		background-color: $grey150-color;
		box-shadow: inset 0 0 0px $grey240-color;
	}
}

body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Noto Sans", sans-serif;
	background-color: $white-color;
	input {
		border: none;
	}
}

p {
	margin: 0;
}

::-moz-selection {
	background-color: $main-color;
	color: #fff;
}
::selection {
	background-color: $main-color;
	color: #fff;
}

input :active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

.errors {
	z-index: 20;
	position: fixed;
	top: 3vmax;
	right: 2vmax;
	width: 20%;
	display: flex;
	flex-direction: column;
	gap: 1vmax;
	&__error {
		position: relative;
		animation: normal error 7s forwards;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1vmax 2vmax;
		height: 20%;
		background-color: $grey240-color;
		color: $black-color;
		font-weight: 500;
		border-radius: 0.5vmax;
	}
	& p {
		font-size: 1vmax;
		width: 95%;
		height: 100%;
	}
	& img {
		cursor: pointer;
		mix-blend-mode: hard-light;
		width: 2vmax;
		height: 2vmax;
		align-self: flex-start;
		position: relative;
		top: 0px;
	}
}

@keyframes error {
	0% {
		right: -110%;
		opacity: 0;
	}

	20% {
		right: 0;
		opacity: 1;
	}

	80% {
		right: 0;
		opacity: 1;
	}

	100% {
		right: -110%;
		opacity: 0;
	}
}

.loader {
	width: 25px;
	height: 25px;
	display: grid;
	margin: 5px auto;
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	--c: radial-gradient(
		farthest-side,
		var(--main-07-opacity-color) 92%,
		var(--nothing-color)
	);
	background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
		var(--c) 0 50%;
	background-size: 6px 6px;
	background-repeat: no-repeat;
	animation: s2 1s infinite;
}
.loader::before {
	opacity: 0.8;
	background-size: 6px 6px;
	animation-timing-function: linear;
}

@keyframes s2 {
	100% {
		transform: rotate(0.5turn);
	}
}

.correct {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 600;
	border-radius: 10px;
	mix-blend-mode: overlay;
	top: 90px;
	left: 20px;
	width: 200px;
	height: 60px;
	background-color: $grey178-07-opacity-color;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.underline {
	color: $black-color;
	top: 5px;
	left: calc(10% + 15px);
	text-decoration: none;
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient($black-color, $black-color);
	background-size: 0% 0.1vmax;
	transition: background-size 0.2s ease-in;
	&:hover {
		background-size: 100% 0.1vmax;
	}
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--header-height);
	z-index: 10;
	& * {
		transition: 0.3s linear;
	}
	&__container {
		background-color: $white-color;
		width: 100%;
		display: flex;
		position: fixed;
		justify-content: space-evenly;
		align-items: center;
		top: 0;
		left: 0;
		height: var(--header-height);
		z-index: 1;
	}
	&__messages,
	&__notifications,
	&__account,
	&__accounts {
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		& img {
			width: 70%;
			height: 70%;
		}
		&:hover {
			background-color: $grey200-color;
		}
	}
	&__messages,
	&__notifications {
		height: calc(var(--header-height) / 1.5);
		width: calc(var(--header-height) / 1.5);
	}
	&__account,
	&__accounts {
		height: calc(var(--header-height) / 2);
		width: calc(var(--header-height) / 2);
	}
	&__account {
		position: relative;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: block;
			text-decoration: none;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__accounts {
		& img {
			width: 80%;
			height: 40%;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		height: calc(var(--header-height) / 1.4);
		width: calc(var(--header-height) / 1.4);
		background-color: $main-color;
		border-radius: 50%;
		&:hover {
			background-color: $main-07-opacity-color;
		}
	}
	&__create {
		height: 80%;
		width: 5%;
		cursor: pointer;
		border-radius: 20px;
		font-size: 2vmax;
		font-weight: 600;
		padding: 0 5vw;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: $black-08-opacity-color;

		&:hover {
			color: $main-08-opacity-color;
			background-color: $main-02-opacity-color;
		}
	}
	&__search {
		position: relative;
		height: 80%;
		width: 30%;
		border-radius: 15px;
		font-size: 1.5vmax;
		
		&:hover {
			background-color: $grey240-color;
		}
	}
	&__search-input {
		font-size: 1.5vmax;
		padding: 0 1vmax;
		border-radius: 15px;
		width: 100%;
		height: 100%;
		&:focus {
			font-weight: 500;
			background-color: $grey230-color;
			box-shadow: none;
		}
		&:hover {
			background-color: $grey240-color;
		}
	}
	&__search-img {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: calc(var(--header-height) / 4);
		width: calc(var(--header-height) / 4);
	}
	&__register,
	&__login {
		height: 80%;
		width: 10%;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2vmax;
		font-weight: 500;
		text-decoration: none;
		color: $main-color;
		&:hover {
			background-color: $main-09-opacity-color;
			color: $aliceblue-color;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}
	&__create-reg {
		width: 10%;
	}
}

.main {
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-auto-rows: 10px;
	justify-content: center;
	&__frame {
		padding: 0;
		margin: $y-inc $x-inc;
		border-radius: var(--main-frames-border-radius);
	}
	&__img {
		user-select: none;
		width: 100%;
		height: 100%;
		border-radius: var(--main-frames-border-radius);
		object-fit: cover;
		object-position: center;

		cursor: zoom-in;
		& * {
			border-radius: inherit;
		}
	}
	&__link {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: var(--main-frames-border-radius);
		}
		& a {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__author {
		user-select: none;
		height: 16px;
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-decoration: none;
		gap: 5px;
	}
	&__author-username {
		color: $black-color;
		font-size: 14px;
		font-weight: 600;
		opacity: 0.8;
	}
	&__author-img {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		overflow: hidden;
	}
	&__options-save {
		align-self: flex-start;
		position: sticky;
		display: flex;
		align-items: center;
		justify-content: center;
		top: calc(var(--header-height) + 10px);
		border-radius: 20px;
		margin: 10px 0;
		width: 40%;
		height: 50px;
		background-color: $main-09-opacity-color;
		color: $white-color;
		user-select: none;
		cursor: pointer;
		&:hover {
			filter: brightness(110%);
		}
	}
	&__options-bottom {
		position: sticky;
		align-self: flex-end;
		display: flex;
		bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		height: 50px;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			height: 50%;
		}
	}
	&__options-like {
		cursor: pointer;
		margin: 0 0;
		top: calc(var(--header-height));
		align-self: flex-start;
		position: sticky;
		width: 30px;
		height: 75px;
		mix-blend-mode: hard-light;
	}
	&__options-actions,
	&__options-download {
		user-select: none;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		filter: invert(100%);
		mix-blend-mode: difference;
		background-color: $grey211-02-opacity-color;
		&:hover {
			background-color: $grey211-07-opacity-color;
		}
	}
	&__actions {
		position: absolute;
		right: 0;
		
		bottom: calc(100% + var(--frame-options-margin));
		background-color: $grey240-color;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 10px;
		height: var(--frame-options-bottom-height);
		& div {
			display: flex;
			padding: 0 10px;
			align-items: center;
			color: $black-color;
			height: calc(var(--frame-options-height) / 2);
			white-space: nowrap;
			cursor: pointer;
		}
		& div:first-of-type {
			cursor: default;
			border-bottom: 2px solid $grey190-color;
		}
		& div:last-of-type {
			&:hover {
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
		}
	}
	&__actions-title {
		cursor: default;
		user-select: none;
	}
	&__actions-hide {
		&:hover {
			background-color: $grey250-color;
		}
	}
	&__hash {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 100%;
		height: 100%;
		font-weight: 500;
		color: $white-color;
		mix-blend-mode: overlay;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__hash-cancel {
		font-weight: 600;
		cursor: pointer;
	}
}

@keyframes loading {
	0% {
		left: 0;
		width: 50px;
		height: 5px;
		top: 2.5px;
		border-radius: 5px;
	}
	50% {
		width: 15px;
		height: 15px;
		top: 0;
		border-radius: 15px;
		backgroun: $grey158-07-opacity-color;
	}
	100% {
		left: calc(100% - 50px);
		width: 50px;
		height: 5px;
		top: 2.5px;
		border-radius: 5px;
	}
}

.frame {
	margin: 2vh auto;
	width: 90%;
	height: var(--frame-height-full);
	display: flex;
	&__main {
		position: relative;
		width: 50%;
		height: 100%;
		box-shadow: 0px 0px 0.5vmax 0 $black-03-opacity-color;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	&__main-options {
		display: flex;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		border-radius: inherit;
	}
	&__main-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 3vmax;
		height: var(--frame-options-height);
		width: 90%;
		margin: 0 auto;
		position: sticky;
		bottom: 0;
		align-self: flex-end;
	}
	&__main-like {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(var(--frame-options-height) / 2.5);
		width: calc(var(--frame-options-height) / 2.5);
		cursor: pointer;
		transition: 0.1s ease;
		filter: hue-rotate(30deg) brightness(140%);
	}
	&__main-add {
		user-select: none;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(var(--frame-options-height) / 1.6);
		width: calc(var(--frame-options-height) / 1.6);
		cursor: pointer;
		transition: 0.3s linear;
		background-color: $grey230-color;
		& img {
			width: 70%;
			height: 70%;
		}
		&:hover {
			background-color: $grey240-color;
		}
	}
	&__img {
		position: absolute;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		user-select: none;
	}
	&__info {
		height: 100%;
		justify-content: flex-start;
		box-shadow: 0px 0px 0.5vmax 0 $black-03-opacity-color;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		display: flex;
		flex-direction: column;
		gap: 3vmax;
		width: 50%;
	}
	&__links {
		align-items: flex-start;
		position: sticky;
		top: var(--header-height);
		z-index: 1;
		height: var(--frame-options-height);
		background-color: $white-color;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1vmax;
		width: calc(100% - 1vmax);
		margin: 0 auto;
		& div {
			cursor: pointer;
			width: calc(var(--frame-options-height) / 1.2);
			height: calc(var(--frame-options-height) / 1.2);
			border-radius: 50%;
			display: flex;
			transition: 0.2s linear;
			align-items: center;
			justify-content: center;
			&:hover {
				background-color: $grey180-color;
			}
		}
		& img {
			width: 40%;
			height: 40%;
			user-select: none;
		}
	}
	&__views,
	&__downloads {
		text-align: center;
		font-size: 1.5vmax;
		font-weight: 600;
		border-radius: 5px;
		padding: 0 1%;
	}
	&__author {
		box-shadow: 0px 0px 10px 0px $black-02-opacity-color;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 1vmax;
		border-radius: 10px;
		font-size: 1.5vmax;
		padding: 1vmax 0;
	}
	&__user {
		display: flex;
		gap: 15px;
		align-items: center;
		margin-left: 20px;
		padding: 10px 0;
		height: 20%;
	}
	&__icon {
		border-radius: 50%;
		width: 3vmax;
		height: 3vmax;
		user-select: none;
	}
	&__user-goal {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__username {
		font-weight: bolder;
		align-self: top;
	}
	&__total-photos {
		font-weight: 700;
	}
	&__description {
		font-size: 2vmax;
		font-weight: 500;
		margin: auto;
		width: 90%;
		overflow: auto;
		overflow-wrap: break-word;
	}
	&__likes {
		font-size: 1.5vmax;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		position: relative;
		left: 10%;
		align-items: center;
		width: 80%;
		& svg {
			width: 2vmax;
			height: 2vmax;
			cursor: pointer;
			user-select: none;
		}
		& div {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	&__location {
		font-weight: 600;
		font-size: 1.5vmax;
	}
}

.sign {
	height: calc(100% - var(--header-height));
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	&__form {
		margin: 25% 0;
		display: flex;
		flex-direction: column;
		gap: 1.5vmax;
		width: 60%;
		height: 100%;
		justify-content: center;
		border-radius: 15px;
	}
	&__head {
		display: flex;
		justify-content: center;
		font-size: 2.5vmax;
		font-weight: 600;
	}
	&__support {
		text-decoration: none;
		border: none;
		cursor: pointer;
		transition: 0.2s linear;
		background-color: $grey211-02-opacity-color;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2vmax;
		user-select: none;
		color: rgba($black-color, 0.9);
		font-size: 3vmax;
		height: 5vmax;
		&:hover {
			background-color: $grey211-07-opacity-color;
		}
		& img {
			height: 4vmax;
		}
	}
	&__except {
		font-size: 2vmax;
		color: $main-color;
		text-decoration: none;
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-image: linear-gradient($main-color, $main-color);
		background-size: 0% 0.1vmax;
		transition: background-size 0.2s ease-in;
		&:hover {
			background-size: 51% 0.1vmax;
		}
	}
}

.form {
	width: 100%;
	min-height: 656px;
	display: flex;
	align-items: center;
	justify-content: center;
	input {
		width: 70%;
		height: 35px;
		background-color: $main-01-opacity-color;
		padding-left: 10px;
		border-radius: 5px;
		outline: 1px solid $main-color;
		&::placeholder {
			color: $main-color;
			font-size: 15px;
		}
	}
	&__container {
		width: 400px;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
		border-radius: 15px;
	}
	&__register {
		margin-top: 15px;
		transition: 0.5s ease-in-out;
		cursor: pointer;
		padding: 5px 10px;
		border: $main-color solid 2px;
		border-radius: 5px;
		color: $main-color;
		font-weight: 600;
		font-size: 20px;
		width: 30%;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			background-color: $main-color;
			color: $aliceblue-color;
		}
	}
}

.registered {
	height: calc(100vh - var(--header-height));
	width: 100%;
	margin: 0 1vmax;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vmax;
	&__container {
		width: 50%;
	}
	&__message {
		font-size: 2.5vmax;
		font-weight: 600;
		color: $main-color;
	}
	&__link {
		font-weight: 700;
		align-self: flex-start;
		color: $black-color;
		text-decoration: none;
		font-size: 2vmax;
		border-color: 1px solid $main-color;
	}
}

.account {
	width: 100%;
	border-radius: 15px;
	margin: 2vmax auto;
	word-break: break-all;
	&__about {
		width: 90%;
		display: flex;
		align-items: center;
		margin: 0 auto;
		gap: 1vmax;
		justify-content: center;
	}
	&__image {
		width: calc(var(--account-height) / 2);
		height: calc(var(--account-height) / 2);
		object-fit: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $grey178-07-opacity-color;
		border-radius: 50%;
	}
	&__info {
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1vmax;
	}
	&__author {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 3vmax;
		padding-left: 5px;
	}
	&__username {
		font-weight: 500;
		font-size: 2.5vmax;
	}
	&__subscribe {
		border-radius: 5px;
		font-size: 2.5vmax;
		font-weight: 500;
		padding: 1vmax 3vmax;
		background-color: $main-color;
		color: $aliceblue-color;
		cursor: pointer;
	}
	&__subscribers {
		cursor: pointer;
	}
	&__subscriptions {
		cursor: pointer;
	}
	&__numbers {
		display: flex;
		width: 110%;
		font-size: 2vmax;
		gap: 2vmax;
		& div {
			display: flex;
			gap: 0.5vmax;
		}
	}
	&__bio {
		width: 100%;
		word-break: keep-all;
	}
	&__bio-close {
		transition: 0.1s linear;
		margin-left: 10px;
		width: 15px;
		height: 10px;
		cursor: pointer;
	}
	&__bio-open {
		transition: 0.1s linear;
		margin-left: 10px;
		width: 15px;
		height: 10px;
		cursor: pointer;
		transform: rotate(90deg);
	}
}

.following {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $black-02-opacity-color;
	&__back {
		z-index: 2;
		position: fixed;
		right: 1vmax;
		top: 1vmax;
		height: 5%;
		cursor: pointer;
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__container {
		border-radius: 10px;
		z-index: 2;
		margin: auto;
		width: 80%;
		height: 80%;
		background-color: $white-color;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__find {
		outline: 0.3vmax $black-color solid;
		border-radius: 10px;
		display: flex;
		width: 90%;
		align-items: center;
		justify-content: center;
		height: 6vmax;
		margin: 1vmax;
	}
	&__input {
		width: 85%;
		height: 100%;
		background-color: $white-color;
		padding-left: 15px;
	}
	&__search {
		width: 15%;
		height: 100%;
		display: flex;
		align-items: center;
		background-color: $white-color;
		justify-content: center;
		& img {
			max-width: 3vmax;
			max-height: 3vmax;
		}
		&::before {
			content: "";
			width: 0.2vmax;
			height: 60%;
			transform: translate(-1vmax);
			background-color: $black-03-opacity-color;
		}
	}
	&__switch {
		width: 100%;
		margin-bottom: 2vmax;
		display: flex;
		justify-content: center;
	}
	&__followers,
	&__following {
		cursor: pointer;
		padding: 1vmax 2vmax;
		font-weight: 600;
		font-size: 2vw;
		text-decoration: none;
		background-repeat: no-repeat;
		background-image: linear-gradient($main-color, $main-color);
		transition: background-size 0.5s ease-in-out;
		background-size: 100% 0.2vmax;
	}
	&__followers {
		background-position: 100% 100%;
	}
	&__following {
		background-position: 0% 100%;
	}
	&__slide-in {
		animation-name: slide-in;
		animation-timing-function: cubic-bezier(0, 0.06, 0.67, 1);
		animation-fill-mode: both;
		animation-duration: 0.5s;
	}
	&__slide-out {
		animation-name: slide-out;
		animation-timing-function: cubic-bezier(0, 0.06, 0.67, 1);
		animation-fill-mode: both;
		animation-duration: 0.5s;
	}
	@keyframes slide-in {
		0% {
			background-size: 0% 0.2vmax;
		}
		100% {
			background-size: 100% 0.2vmax;
		}
	}
	@keyframes slide-out {
		0% {
			background-size: 100% 0.2vmax;
		}
		100% {
			background-size: 0% 0.2vmax;
		}
	}
	&__users {
		overflow-y: auto;
		width: 90%;
		height: 80%;
	}
	&__user {
		margin-top: 10px;
		position: relative;
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
	}
	&__img {
		width: 40px;
		height: 40px;
		background-color: $grey178-07-opacity-color;
		margin: 0 10px;
		border-radius: 50%;
		& img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	&__info {
		width: calc(80% - var(--header-height));
	}
	&__username {
		font-size: 12px;
		font-weight: 600;
	}
	&__bio {
		font-size: 12px;
	}
	&__subscribe {
		position: relative;
		right: 0px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(20% - 10px);
		height: 20px;
		font-size: 16px;
		font-weight: 500;
		padding: 5px 15px;
		background-color: $main-color;
		color: $aliceblue-color;
		text-align: center;
		cursor: pointer;
	}
}

.collections {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
	width: 100%;
	margin: 0 auto;
	&__collection {
		height: 250px;
		position: relative;
		margin: 0 0 2vmax 0;
		cursor: pointer;
		border-radius: 1vmax;
		
	}
	&__collection-photo1,
	&__collection-photo2,
	&__collection-photo3 {
		cursor: zoom-in;
		position: absolute;
		object-fit: cover;
	}
	&__collection-photo1 {
		width: 50%;
		height: 100%;
		left: 0;
		top: 0;
		border-top-left-radius: 1vmax;
		border-bottom-left-radius: 1vmax;
	}
	&__collection-photo2 {
		width: 50%;
		height: 50%;
		right: 0;
		top: 0;
		border-top-right-radius: 1vmax;
	}
	&__collection-photo3 {
		width: 50%;
		height: 50%;
		right: 0;
		bottom: 0;
		border-bottom-right-radius: 1vmax;
	}
	&__more {
		display: block;
		text-decoration: none;
		color: $main-color;
		width: 80%;
		margin: 2vmax auto;
		text-align: right;
		font-size: 2vmax;
		transition: 0.1s linear;
		&:hover {
			font-size: 2.2vmax;
		}
	}
	&__info {
		position: absolute;
		bottom: 1vmax;
		left: 1vmax;
		display: flex;
		width: 90%;
		gap: 1vmax;
		align-items: center;
		justify-content: flex-end;
	}
	
	&__private, &__edit {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5vmax;
		height: 2.5vmax;
		border-radius: 50%;
		background-color: $grey220-color;
		transition: 0.2s linear;
		& img {
			width: 50%;
			height: 50%;
		}
		&:hover {
			background-color: $grey190-color;
		}
	}
	&__private {
		cursor: default;
		&:hover {
			background-color: $grey220-color;
		}
	}
	&__total {
		cursor: default;
		font-size: 1vmax;
		font-weight: 500;
		height: 2vmax;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1vmax;
		background-color: $grey220-color;
		border-radius: 0.2vmax;
	}
}

.collection {
	width: 90%;
	height: 100%;
	margin: 20px auto 0;
	&__account {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		gap: 5px;
	}
	&__account-image {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	&__by {
		font-weight: 500;
		font-size: 14px;
	}
	&__about {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 25px;
	}
	&__name {
		font-size: 28px;
		font-weight: 600;
	}
	&__thinks {
		position: relative;
	}
	&__arrow-down {
		display: flex;
		align-items: center;
		width: 25px;
		height: 25px;
		padding: 5px;
		border-radius: 50%;
		cursor: pointer;
		background-color: $grey211-02-opacity-color;
		transition: 0.3s ease-in-out;
	}
	&__open {
		position: absolute;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		z-index: 1;
		right: 17.5px;
		transform: translateX(+50%);
		top: 40px;
		background-color: $white-color;
		box-shadow: 0px 0px 45px -19px $black-05-opacity-color;
		& * {
			display: flex;
			align-items: center;
			justify-content: center;
			user-select: none;
			cursor: pointer;
			height: 40px;
			width: 150px;
			font-size: 20px;
			font-weight: 600;
			color: $black-07-opacity-color;

			&:hover {
				background-color: $grey240-color;
			}
		}
	}
	&__action {
		border-bottom: 1px solid $black-02-opacity-color;
		&:hover {
			background-color: $white-color;
		}
	}
	&__description {
		word-break: break-all;
		padding: 15px 20px;
		border-radius: 10px;
		margin: 10px auto;
	}
	&__description-arrow {
		width: 15px;
		height: 10px;
		margin-left: 5px;
		cursor: pointer;
	}
	&__info {
		display: flex;
		align-items: center;
		margin: 10px 0;
		justify-content: space-between;
	}
	&__photos {
		font-weight: 600;
		font-size: 16px;
		color: $black-07-opacity-color;
	}
	&__actions {
		display: flex;
		align-items: center;
		position: relative;
	}
	&__settings {
		background-color: $white-color;
		z-index: 1;
		position: absolute;
		right: 0;
		top: 30px;
		width: 200px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0px 0px 8px 0px $black-02-opacity-color;
	}
	&__settings-main-text {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		color: $black-08-opacity-color;
	}
	&__settings-pre-text {
		font-size: 14px;
		font-weight: 500;
		color: $black-08-opacity-color;
		margin-bottom: 5px;
	}
	&__toggle-img {
		cursor: pointer;
		height: 100%;
		transition: 0.2s linear;
	}
	&__range {
		accent-color: $main-color;
		width: 90%;
	}
	&__range-value {
		width: 100%;
		text-align: center;
	}
	&__range-input {
		width: 100%;
	}
}

.unregistered {
	width: 100%;
	height: calc(100vh - var(--header-height));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1vmax;
	
	font-weight: 600;
	opacity: 0.8;
	& p {
		font-size: 2.5vmax;
		color: $main-color;
	}
	&__link {
		font-size: 2vmax;
		text-decoration: none;
		color: $black-color;
	}
}

.create {
	width: 100%;
	height: calc(100vh - var(--header-height));
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;

	& * {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s linear;
		font-size: 3vmax;
		&:hover {
			font-size: 2.8vmax;
			transform-origin: bottom;
		}
	}
}

.create-collection {
	width: 60%;
	height: 90%;
	top: 5%;
	left: 20%;
	position: fixed;
	z-index: 20;
	overflow: auto;
	&__back {
		cursor: pointer;
		width: 3vmax;
		height: 3vmax;
		position: fixed;
		top: 1vmax;
		right: 1vmax;
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3vmax;
		padding: 2vmax 0;
		position: relative;
		width: 100%;
		box-shadow: 2px 6px 38px -12px $black-04-opacity-color;
		background-color: $white-color;
		border-radius: 10px;
	}
	&__top-text {
		font-size: 3vmax;
		font-weight: 500;
	}
	&__pre-text {
		color: $black-07-opacity-color;
	}
	&__name,
	&__description {
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 1vmax;
		font-size: 3vmax;
	}

	&__input-name,
	&__input-description {
		resize: none;
		width: 100%;
		font-size: 2.5vmax;
		word-break: keep-all;
		&:focus {
			box-shadow: inset 2px 6px 45px -10px $main-01-opacity-color;
		}
	}
	&__input-name {
		height: 5vmax;
	}
	&__input-description {
		height: 15vmax;
	}
	&__private {
		display: flex;
		gap: 1vmax;
		width: 90%;
		margin-left: 5%;
		align-self: flex-start;
		align-items: center;
	}
	&__checkbox {
		accent-color: $main-color;
		width: 3vmax;
		height: 3vmax;
	}
	&__private-text {
		font-weight: 500;
		font-size: 2vmax;
	}
	&__access {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 30%;
		align-items: center;
	}
	&__cancel,
	&__create {
		width: 30%;
		height: 5vmax;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-size: 2vmax;
		font-weight: 500;
		transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	&__create {
		color: $main-color;
		$outerBorderWidth: 0.4vmax;
		$innerBorderWidth: 0.4vmax;

		&:before {
			content: "";
			position: absolute;
			border: $main-color solid $outerBorderWidth;
			width: 30%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 65%;
			transition-duration: 0.3s;
			transition-property: top right bottom left;
		}

		&:hover:before {
			top: -($outerBorderWidth + $innerBorderWidth);
			right: -($outerBorderWidth + $innerBorderWidth);
			bottom: -($outerBorderWidth + $innerBorderWidth);
			left: 65%;
		}
		&:hover {
			transition: 0.2s;
			font-size: 2.2vmax;
		}
	}
	&__cancel {
		background-color: $main-color;
		color: $white-color;
		&:hover {
			background-color: $white-color;
			color: $main-color;
			outline: 1px solid $main-color;
		}
	}
}

.access {
	padding: 6vh 4vw;
	height: 12vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: $grey240-color;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
	&__title {
		display: flex;
		align-items: center;
		font-size: 4vmin;
		height: 5vmin;
	}
	&__choose {
		margin: 2vh 0;
		height: 4vmin;
		display: flex;
		font-size: 3vmin;
		align-items: center;
		gap: 3vw;
		justify-content: space-between;
	}
	&__no {
		cursor: pointer;
		padding: 1vh 1vw;
		transition: 0.4s linear;
		&:hover {
			background-color: $grey211-07-opacity-color;
		}
	}
	&__yes {
		cursor: pointer;
		padding: 1vh 1vw;
		background-color: $main-07-opacity-color;
		color: $grey240-color;
		transition: 0.4s ease-in;
		&:hover {
			color: $main-07-opacity-color;
			background-color: $nothing-color;
			outline: 1px solid $main-07-opacity-color;
		}
	}
}

.collection-add {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	background-color: $black-01-opacity-color;
	display: flex;
	align-items: center;
	justify-content: center;
	::-webkit-scrollbar-track {
		background-color: $white-color;
	}
	::-webkit-scrollbar-thumb {
		background-color: $black-08-opacity-color;
		box-shadow: none;
		&:hover {
			background-color: $black-09-opacity-color;
			box-shadow: none;
		}
		&:active {
			background-color: $black-color;
			box-shadow: none;
		}
	}

	&__back {
		cursor: pointer;
		position: absolute;
		top: 1vmax;
		right: 1vmax;
		width: 3vmax;
		height: 3vmax;
	}
	&__container {
		border-radius: 1vmax;
		width: 50vmax;
		height: 90%;
		display: flex;
		flex-direction: column;
		background-color: $white-color;
		
		box-shadow: 0 0 1.5vmax 0.5vmax $black-03-opacity-color;
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2vmax 0;
		font-size: 2vmax;
		font-weight: 600;
		height: 10%;
	}
	&__collections {
		overflow: scroll;
		height: 90%;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__collection {
		margin: 1vmax 2vmax;
		display: flex;
		height: 10vmax;
		align-items: center;
		justify-content: space-between;
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 2vmax;
	}
	&__image {
		background-color: $grey220-color;
		width: 10vmax;
		height: 10vmax;
		object-fit: cover;
	}
	&__name {
		font-size: 2vmax;
		font-weight: 500;
	}
	&__save {
		width: 3.5vmax;
		height: 3.5vmax;
		justify-self: flex-end;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $grey240-color;
		cursor: pointer;
		& img {
			width: 60%;
			height: 60%;
		}
		&:hover {
			background-color: $grey210-color;
		}
	}
}

.search {
	position: sticky;
	z-index: 1;
	top: calc(var(--header-height));
	background-color: $white-color;
	left: 0;
	width: 100%;
	padding: 1vmax 0;
	margin: 0 auto;
	display: flex;
	gap: 1.5vmax;
	justify-content: space-between;
	&__choose {
		margin-left: 5%;
		display: flex;
		gap: 1.5vmax;
		overflow: auto;
		& div {
			user-select: none;
			cursor: pointer;
			font-size: 1.5vmax;
			font-weight: 500;
			background-color: $grey230-color;
			border-radius: 0.2vmax;
			padding: 0.3vmax 0.5vmax;
			&:hover {
				background-color: $grey220-color;
			}
		}
	}
	&__active {
		background-color: $grey190-color !important;
	}
	&__info {
		margin-right: 5%;
		justify-self: flex-end;
		width:max-content;
		font-size: 1.5vmax;
		font-weight: 600;
		& p {
			border-radius: 0.3vmax;
		}
	}
}

.users {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	&__user {
		width: 95%;
		margin: 0 auto;
		cursor: zoom-in;
		color: $black-color;
		text-decoration: none;
		height: 10vmax;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:hover {
			background-color: $grey250-color;
		}
	}
	&__about {
		display: flex;
		align-items: center;
		gap: 2vmax;
	}
	&__img {
		height: 5vmax;
		width: 5vmax;
		object-fit: cover;
	}
	&__info {
		font-size: 2vmax;
	}
	&__username {
		font-weight: 500;
	}
	&__bio {
		font-weight: 600;
	}
	&__subscribe {
		cursor: pointer;
		outline: 0.2vmax solid $black-color;
		font-weight: 500;
		font-size: 1.5vmax;
		transition: 0.2s linear;
		padding: 1vmax 2vmax;
		&:hover {
			color: $main-color;
			outline: 0.2vmax solid $main-color;
		}
	}
}

@media (max-width: 867px) {
	:root {
		--header-height: 8vmax;
		--frame-height-full: 150vmax;
		--frame-options-height: 9vmax;
	}
	.header {
		gap: 0;
		z-index: 20;
		&__search {
			width: 25%;
		}
		&__create {
			width: 5%;
		}
	}
	.frame {
		display: flex;
		flex-direction: column;
		&__main {
			border-radius: 0;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			width: 100%;
			height: 60%;
		}
		&__img {
		}
		&__info {
			border-radius: 0;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			width: 100%;
			height: 40%;
			gap: 5vmax;
		}
		&__views,
		&__downloads {
			text-align: center;
			font-size: 2.2vmax;
		}
		&__author {
			font-size: 2vmax;
		}
		&__description {
			font-size: 2vmax;
		}
	}
	.account {
	}
}
